body {
  font-family: 'Georama', sans-serif;
  background-color: #FFE3B7;
  color: #124156;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h1 {
  color: #F5BA2D;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

input, select {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #124156;
  border-radius: 4px;
  font-size: 1rem;
}

small {
  font-weight: normal;
  font-size: 0.8rem;
  color: #798D8D;
}

button {
  background-color: #F5BA2D;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #124156;
}
